@model Sudents.Models.Student

@{
    ViewData["Title"] = "Total score";
}

<h1>Total score</h1>

<p>Общее количество баллов: @ViewBag.TotalScore</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>